<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.md.obs">


        <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Ögrenci İşlemleri"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Obs">
            <activity
                android:name=".ListeleActivity"
                android:exported="false" />
            <activity
                android:name=".GuncelleActivity"
                android:exported="false" />
            <activity
                android:name=".SilActivity"
                android:exported="false" />
            <activity
                android:name="com.md.obs.EkleActivity"
                android:exported="false" />
            <activity
                android:name=".MainActivity"
                android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
        </application>

    </manifest>

